@import "tailwindcss";

body {
  background-color: #111827;
  color: white;
}

/* Custom range input styling */
input[type='range'] {
  height: 0.5rem;
  border-radius: 0.5rem;
  appearance: none;
  cursor: pointer;
  background-color: #4b5563;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  background-color: #3b82f6;
}

/* Audio player styling */
audio {
  width: 100%;
}

audio::-webkit-media-controls-panel {
  background-color: #374151;
}
